.page {

  display: none;
  position: absolute;
  width:85%;

  }

#page0 { display: block; }



.sea1 {
background-color:#6796f9;
}

.sea2 {
background-color:#88abf6;
}

.beach1 {
background-color:#f2f294;
}

.beach2 {
background-color:#f4f4ba;
}

.container-fluid {
position: absolute;
top: 0;
padding: 7.5%;
}

.waves {
  position: relative;
  height: 100%;
  width: 100%;

  background-color:#0042DF;
}

body {
  background:#aaa;
	display:flex;
	justify-content:center;

}

svg > *:nth-child(3) {
  animation: move 5s infinite ease-in-out;
	animation-delay:-3s;}
svg > *:nth-child(4) {
  animation: move 7s infinite ease-in-out;
	animation-delay:-5s;}
svg > *:nth-child(5) {
  animation: move 9s infinite ease-in-out;
	animation-delay:-2s;}
svg > *:nth-child(6) {
  animation: move 11s infinite ease-in-out;
	animation-delay:-9s;}

@keyframes move {
		0% {transform:translateX(0);}
		50% {transform:translateX(-10px);}
		100% {transform:translateX(0);}
}

h1 {


  padding-left: 10px;
  a {

    color: white;

  }
}



p {


  padding-left: 10px;
}

ul.nav-list {
  width: 100%;
  list-style: none;
  padding: 0;
    margin: 0;
}

li.nav-list-item {
  text-align:center;
  width: 12.5%;
  float: left;
}
