@import "jquery-ui.css";
@import "bootstrap";

.sea1 {
background-color:#6796f9;
}

.sea2 {
background-color:#88abf6;
}

.beach1 {
background-color:#f2f294;
}

.beach2 {
background-color:#f4f4ba;
}

.container-fluid {
background-color:#f6f6da;


}
h1 {


  padding-left: 10px;
  a {

    color: white;

  }
}



p {


  padding-left: 10px;
}



table {

  table-layout:fixed;



}
td,th {



  white-space: nowrap;
  font-size: 0.8em;
  padding-top:0.6em;

}
td.left,th.left {
  overflow: hidden;
  width: 85%;
  text-overflow: ellipsis;
}

td.right,th.right {
  text-align:right;
  width: 15%;

}
